@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
	
$colorText: #000000
$colorTextShadow: #808080
$whiteBackGrColor: #ffffff
$greyBackGrColor: #f0f0f0
$boxShadow: 0px 2px 6px rgba(0, 0, 0, 0.2)

$darkColorText: #ffffff
$darkColorTextShadow: #999999
$darkBackGrColor: #504f4f
$darkGreyBackGrColor: #353535
$darkBoxShadow: 0px 2px 6px rgba(0, 0, 0, 0.5)

$textShadow: #808080
$greyBackColor: #808080

* 
	padding: 0px
	margin: 0px
	font-family: 'Roboto', sans-serif
	font-size: 18px
	font-weight: bold

ul, ul li 
	list-style: none


img, svg 
	max-width: 100%
	height: auto

a
	text-decoration: none