@import './resset'

html[data-theme="light"] 
  --color-text: #{$colorText}
  --color-text-shadow: #{$colorTextShadow}
  --color-background: #{$whiteBackGrColor}
  --color-backgraund-grey: #{$greyBackGrColor}
  --box-shadow: #{$boxShadow}

html[data-theme="dark"] 
  --color-text: #{$darkColorText}
  --color-text-shadow: #{$darkColorTextShadow}
  --color-background: #{$darkBackGrColor}
  --color-backgraund-grey: #{$darkGreyBackGrColor}
  --box-shadow: #{$darkBoxShadow}

main
    background-color: var(--color-background)
    display: flex
    justify-content: center

.mainSection
    width: 940px
    height: auto

.navbarList
    display: flex
    flex-direction: row
    justify-content: space-between

.navbarListItem
    color: var(--color-text-shadow)
    cursor: pointer
    margin: 30px 40px
    font-weight: bold

@media (max-width: 800px)
    .navbarList
        display: block
        width: 300px
        text-align: center
        width: 100%

    .navbarListItem
        margin: 20px 0
        font-size: 22px

.activeListItem
    color: var(--color-text)

.textInfo
    color: var(--color-text)
    display: flex
    justify-content: space-between
    margin: 40px 0 40px 0
    align-items: flex-end

.mainTextName
    hidth: 250px
    font-size: 48px
    margin-left: 40px

.mainTextAboutMe
    font-weight: 500
    margin: 0 40px 8px 40px

.mainAboutMeIcon
    cursor: pointer
    margin-right: 10px
    width: 50px
    // transform: rotate(-90deg)
    margin-bottom: 40px
    transition: 0.5s ease-in-out

    &:hover
        transform: scale(1.1) rotate(-10deg)
    
@media (max-width: 550px)
    .textInfo
        justify-content: flex-start
        align-content: flex-start
        flex-direction: column
        display: flex
        align-items: flex-start
        margin: 25px 15px 0 15px
    
    .mainTextAboutMe
        margin-bottom: 0

    .mainAboutMeIcon
        position: relative
        align-self: flex-end
        bottom: 45px
        margin-bottom: 10px

.mainPhoto
    width: 100%
    margin-bottom: 40px

.aboutMe
    color: var(--color-text)
    width: 100%
    background-color: var(--color-backgraund-grey)
    display: flex
    flex-direction: column
    justify-content: space-between
    text-align: center

    & .paragraph
        font-size: 18px
        font-weight: 500
        margin-bottom: 30px
        margin: 0 25px 30px 25px

.title
    margin-top: 30px
    font-size: 34px
    margin-bottom: 24px

.skillsSection
    display: flex
    justify-content: center
    background-color: var(--color-background)
    color: var(--color-text)

    & .skills
        width: 940px
        text-align: center
        margin: 0px 20px

        & .list
            width: 100%
            margin: 30px 0
            display: grid
            grid-template-columns: repeat( auto-fit, minmax(170px, 1fr))

            & .item
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-between
                height: 205px
                margin-bottom: 30px

                & .img
                    width: 90px  
                    height: 90px


.portfolio
    padding-bottom: 20px
    display: flex
    justify-content: center
    background-color: var(--color-backgraund-grey)
    color: var(--color-text)

    & .projects
        width: 940px
        text-align: center
        margin: 0 20px

    & .petProjects
        width: 100%
        margin-bottom: 20px
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(350px, max-content))
        grid-gap: 20px
        justify-content: center

    @media (max-width: 800px)
        .petProjects
            grid-template-columns: repeat(auto-fill, minmax(270px, max-content))

    & .petProjectsTitle
        width: 100%
        text-align: center
        padding-top: 20px
        grid-column: 1 / -1
        font-size: 22px

    & .cardProject
        box-shadow: var(--box-shadow)
        border-radius: 8px

    & .titleProject
        margin: 20px 0
        text-align: center

    & .infoProject
        width: 100%
        
        & .textTechnologies
            font-size: 16px
            margin: 15px 0

        & .img
            max-height: 470px

        & .flex
            display: flex
            align-items: center
            justify-content: center
            gap: 40px
            margin-bottom: 10px


        & .buttonLink
            gap: 12px
            background-color: #070707
            color: white
            padding: 10px 15px
            border-radius: 50px
            cursor: pointer
            margin-top: 20px
            transition: 0.5s ease-in-out

            &:hover
                background-color: #555555
                transform: scale(1.05)
                text-shadow: 2px 2px 2px #000000

            & .iconLink
                width: 24px
                height: 24px       

.footer
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding-bottom: 20px
    background-color: var(--color-background)
    color: var(--color-text)

.footerButton
    background-color: #070707
    border: 0
    color: white
    padding: 10px 15px
    border-radius: 50px
    cursor: pointer
    margin-top: 15px
    transition: 0.5s ease-in-out

    &:hover
        background-color: #555555
        transform: scale(1.05)
        text-shadow: 2px 2px 2px #000000


.footerList
    max-width: 342px
    display: flex
    justify-content: space-between
    margin: 60px 0 46px 0

    & .icon
        width: 40px

.footerText
    color: var(--color-text-shadow)
    font-size: 14px
    margin-bottom: 60px
    font-weight: bold

.loaderСontainer
    width: 70%
    background-color: #252525
    border-radius: 13px
    padding: 2px

.loader
    height: 20px
    border-radius: 10px

.jsColor
    background-color: #F0DB4F
    width: 75%
  
.htmlColor
    background-color: #F16529
    width: 75%

.reactColor
    background-color: #61DBFB
    width: 50%

.webpackColor
    background-color: #ffffff
    width: 20%